:root {
    --color-fondo-principal: hsl(0, 0%, 96%, 0.8); /* Blanco Humo */
    --color-texto-principal: hsl(0, 0%, 0%); /* Negro */
    --color-botones-destacados: hsl(77, 50%, 53%); /* Verde Lima */
    --color-hover-botones: hsl(77, 100%, 22%);
    --color-enlaces-interactivos: hsl(210, 100%, 56%); /* Azul Eléctrico */
    --color-bordes-separadores: hsl(0, 0%, 44%); /* Gris Acero */
    --fuente-general: 'Lato', sans-serif; /* Fuente general para todo el texto */
    --tamano-texto: 16px; /* Tamaño de texto general */
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-general);
    font-size: var(--tamano-texto);
}

html, body {
    overflow-x: hidden; /* Asegura que no haya desbordamiento horizontal en toda la página */
    height: 100%;
    margin: 0;
}


body {
    background-image: url(/media/img/fondo.jpg);
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: var(--color-texto-principal);
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/************************************************************************/
/*                           Parte del menu                             */
/************************************************************************/

nav {
    background-color: var(--color-texto-principal);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1000; /* Mantiene el nav encima del contenido */
    background-color: var(--color-botones-destacados);
}

.menu-horizontal {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal li {
    display: flex; /* Flexbox en el contenedor */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center;
    background-color: var(--color-botones-destacados);
    position: relative;
    flex: 1;
    padding: 0;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}


.menu-horizontal > li:hover { /*Cuando estamos encima de un elemento del menu horizontal*/
    background-color: var(--color-hover-botones);
}

.menu-vertical {
    display: none;
    position: absolute; /* Posiciona el submenu respecto al elemento padre */
    top: 100%; /* Lo coloca justo debajo del elemento padre */
    left: 0; /* Lo alinea a la izquierda del elemento padre */
    list-style: none;
    width: 200px;
    z-index: 1000; /* Asegura que el submenu esté encima de otros contenidos */
    border-radius: 5px;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
    transform: scale(1.05);
}

.menu-vertical li:hover {
    background-color: var(--color-hover-botones);
    border: 2px black solid;
}

.menu-horizontal li a {
    display: flex; /* Flexbox dentro del enlace */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    width: 100%; /* Enlace ocupa todo el ancho del <li> */
    height: 100%; /* Enlace ocupa todo el alto del <li> */
    text-decoration: none; /* Sin subrayado */
    color: black; /* Color del texto */
    font-weight: bold;
}


.menu-horizontal li a img.icono-menu {
    width: 27px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 8px; /* Espacio entre la imagen y el texto */
}

nav a {
    display: block;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
}

.logo-menu {
    width: 100%; /* Ocupa todo el espacio disponible en su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 50px; /* Ajusta este valor al alto de tus otros <li> si es necesario */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    display: block; /* Asegura que la imagen sea tratada como un bloque */
    border-radius: 8px;
}

/************************************************************************/
/*                        Parte del contenido                           */
/************************************************************************/

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  65px;
    padding: 4%;
    background-color: var(--color-fondo-principal);
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Reducir la separación entre los contenedores */
    justify-content: center; /* Centrar los contenedores horizontalmente */
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center; /* Centrar el texto del encabezado */
    margin: 20px 0; /* Espaciado superior e inferior */
    font-size: 1.7rem; /* Tamaño del texto */
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-auto-rows: auto; /* Altura de las filas basada en el contenido */
    column-gap: 75px; /* Espaciado entre las columnas */
    row-gap: 30px; /* Espaciado entre las filas */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrado horizontal */
}

.item-imagen {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.item-imagen img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 300px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Recorta la imagen manteniendo su proporción */
    border-radius: 4px; /* Mantén el borde redondeado */
}


.item-imagen h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.item-imagen img:hover {
    cursor: pointer; /* Cambia el cursor a una mano */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
    transition: transform 0.3s ease; /* Suaviza el efecto */
}

.contenedor-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-reserva {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* Color azul */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-reserva:hover {
    background-color: #0056b3; /* Azul más oscuro para hover */
    transform: scale(1.05); /* Ligero efecto de agrandamiento */
}

.btn-reserva:active {
    background-color: #004080; /* Azul aún más oscuro al hacer clic */
    transform: scale(1); /* Volver al tamaño original */
}

/************************************************************************/
/*              Parte modal imagen pantalla completa                    */
/************************************************************************/

/* Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
}

/* Imagen dentro del modal */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
}

/* Texto debajo de la imagen */
#caption {
    margin: 15px auto;
    text-align: center;
    color: #ccc;
    font-size: 20px;
}

/* Botón para cerrar el modal */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/************************************************************************/
/*                           Parte del footer                           */
/************************************************************************/

footer {
    display: flex;
    background-color: var(--color-hover-botones);
    justify-content: space-between;
}

.contacto{
    padding: 1%;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social{
    display: flex;
    gap: 20px;
    padding: 1%;
    align-items: center;
}

.social img{
    width: 50px;
}


/************************************************************************/
/*              Estilos Responsivos: Usando @media screen               */
/************************************************************************/

/* Para pantallas pequeñas (teléfonos móviles) */
@media screen and (max-width: 720px) {
    /* Ajustes generales */
    :root {
        --tamano-texto: 14px;
    }

    nav {
        position: static; /* Cambia a estático para que no se quede fijo */
        width: 100%;
        background-color: var(--color-botones-destacados);
    }

    .menu-horizontal {
        display: flex;
        flex-direction: column;
    }

    .menu-horizontal li {
        width: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Añade margen al contenido para evitar que sea cubierto por el menú */
    .contenido {
        margin-top: 270px !important;
        padding: 10px;
        max-width: 100vw; /* Evita que el contenido cause scroll horizontal */
        margin: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }    

    main h1 {
        text-align: center;
        font-size: var(--tamano-texto);
    }

    .contenedor-imagenes {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100vw;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}


