:root {
    --color-fondo-principal: hsl(0, 0%, 96%, 0.8); /* Blanco Humo */
    --color-texto-principal: hsl(0, 0%, 0%); /* Negro */
    --color-botones-destacados: hsl(77, 50%, 53%); /* Verde Lima */
    --color-hover-botones: hsl(77, 100%, 22%);
    --color-enlaces-interactivos: hsl(210, 100%, 56%); /* Azul Eléctrico */
    --color-bordes-separadores: hsl(0, 0%, 44%); /* Gris Acero */
    --fuente-general: 'Lato', sans-serif; /* Fuente general para todo el texto */
    --tamano-texto: 16px; /* Tamaño de texto general */
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-general);
    font-size: var(--tamano-texto);
}

body {
    background-image: url(/media/img/fondo.jpg);
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: var(--color-texto-principal);
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/************************************************************************/
/*                           Parte del menu                             */
/************************************************************************/

nav {
    background-color: var(--color-texto-principal);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1000; /* Asegura que el nav esté encima del contenido */
    background-color: var(--color-botones-destacados);
}

.menu-horizontal {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal li {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro del botón */
    background-color: var(--color-botones-destacados);
    position: relative; /* Necesario para el posicionamiento del submenu */
    flex: 1; /* Asegura que todos los elementos tengan el mismo tamaño */
    text-align: center; /* Centra el texto dentro del botón */
    padding: 0;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.menu-horizontal > li:hover { /*Cuando estamos encima de un elemento del menu horizontal*/
    background-color: var(--color-hover-botones);
}

.menu-vertical {
    display: none;
    position: absolute; /* Posiciona el submenu respecto al elemento padre */
    top: 100%; /* Lo coloca justo debajo del elemento padre */
    left: 0; /* Lo alinea a la izquierda del elemento padre */
    list-style: none;
    width: 200px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000; /* Asegura que el submenu esté encima de otros contenidos */
    border-radius: 5px;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: var(--color-hover-botones);
    border: 2px black solid;
}

.menu-horizontal li a {
    display: flex; /* Utiliza flexbox para alinear los elementos en línea */
    align-items: center; /* Centra verticalmente el texto y la imagen */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: black; /* Ajusta el color del texto */
    font-weight: bold;
}

.menu-horizontal li a img.icono-menu {
    width: 27px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 8px; /* Espacio entre la imagen y el texto */
}

nav a {
    display: block;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
}

.logo-menu {
    width: 100%; /* Ocupa todo el espacio disponible en su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 50px; /* Ajusta este valor al alto de tus otros <li> si es necesario */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    display: block; /* Asegura que la imagen sea tratada como un bloque */
    border-radius: 8px;
}

/************************************************************************/
/*                        Parte del contenido                           */
/************************************************************************/

.contenido {
    display: flex;
    flex-direction: column;
    margin: 65px;
    padding: 4%;
    gap: 30px;
    background-color: var(--color-fondo-principal);
}

.contenido img {
    width: 50%;
}

.logo-principal {
    display: flex;
    justify-content: center;
}

.logo-principal img {
    border-radius: 8px;
    width: 650px;
}

.descripcion-principal{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
}

.contenido-cocina,
.contenido-barra,
.contenido-bodega {
    display: flex;
    align-items: stretch; /* Asegura que todos los elementos en el contenedor tengan la misma altura */
}

.contenido-cocina img,
.contenido-barra img,
.contenido-bodega img {
    width: 50%; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacio extra debajo de la imagen */
}

.parrafos-cocina,
.parrafos-barra,
.parrafos-bodega {
    display: flex;
    flex-direction: column;
    background-color: var(--color-botones-destacados);
    width: 50%;
    text-align: center;
    justify-content: center;
    padding: 20px; /* Espacio interno para el texto */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho y alto del elemento */
}

.contenido-cocina p,
.contenido-barra p,
.contenido-bodega p {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px; /* Espacio entre párrafos */
}

.parrafos-barra .resaltado {
    color: rgb(255, 0, 221);
    font-weight: inherit; /* Hereda el peso de fuente del párrafo */
    font-size: inherit; /* Hereda el tamaño de fuente del párrafo */
}

.parrafos-bodega .resaltado {
    color: rgb(17, 0, 255);
    font-weight: inherit;
    font-size: inherit;
}

/************************************************************************/
/*                           Parte del slider                           */
/************************************************************************/

.slider {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: auto;
    margin: 0 auto; /* Centrando el slider */
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slider 15s infinite alternate ease-in-out;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
}

#contenedor-boton-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-carta {
    width: 30%;
    padding: 10px 20px;
    background-color: var(--color-botones-destacados);    
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s; 
}

#boton-carta:hover {
    background-color: var(--color-hover-botones); 
    transform: scale(1.05);
}

#boton-carta a{
    text-decoration: none;
    color: var(--color-texto-principal); 
    font-weight: bold;
}

/************************************************************************/
/*                           Parte del footer                           */
/************************************************************************/

footer {
    display: flex;
    background-color: var(--color-hover-botones);
    justify-content: space-between;
}

.contacto{
    padding: 1%;
}

.copyright{
    display: flex;
    align-items: center;
}

.social{
    display: flex;
    gap: 20px;
    padding: 1%;
    align-items: center;
}

.social img{
    width: 50px;
}



/************************************************************************/
/*                               Animaciones                            */
/************************************************************************/

@keyframes slider {
    0%, 20% { margin-left: 0%; }
    25%, 45% { margin-left: -100%; }
    50%, 70% { margin-left: -200%; }
    75%, 95% { margin-left: -300%; }
}
