:root {
    --color-fondo-principal: #F5F5F5; /* Blanco Humo */
    --color-texto-principal: #333333;  /* Negro Carbono */
    --color-botones-destacados: #A1C349; /* Verde Lima */
    --color-enlaces-interactivos: #1E90FF; /* Azul Eléctrico */
    --color-bordes-separadores: #707070; /* Gris Acero */
}


*{
    margin: 0;
    padding: 0;
    font-family: lato;
}

body{
    /*background-color: var(--color-fondo-principal);*/
    background-image: url(/media/img/fondo.jpg);
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */

    color: var(--color-texto-principal);
    display: flex;
    flex-direction: column;
    text-align: justify;
}

/************************************************************************/
/*                           Parte del menu                             */
/************************************************************************/

nav{
    background-color: var(--color-texto-principal);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1000;              /* Asegura que el nav esté encima del contenido */    
}

.menu-horizontal{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal li{
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro del botón */
    background-color: var(--color-botones-destacados);
    position: relative; /* Necesario para el posicionamiento del submenu */
    flex: 1; /* Asegura que todos los elementos tengan el mismo tamaño */
    text-align: center; /* Centra el texto dentro del botón */
}

.menu-horizontal > li:hover{    /*Cuando estamos encima de un elemento del menu horizontal*/
    background-color: #527200;
    border: 2px black solid;
}

.menu-vertical{
    display: none;
    position: absolute;         /* Posiciona el submenu respecto al elemento padre */
    top: 100%;                  /* Lo coloca justo debajo del elemento padre */
    left: 0;                    /* Lo alinea a la izquierda del elemento padre */
    list-style: none;
    width: 200px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000;              /* Asegura que el submenu esté encima de otros contenidos */
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: #527200;
    border: 2px black solid;
}

a{
    display: block;
    color: black;
    padding: 15px, 15px, 15px, 20px;
    text-decoration: none;
}

/************************************************************************/
/*                        Parte del contenido                           */
/************************************************************************/

.contenido{
    display: flex;
    flex-direction: column;
    margin: 65px;
    padding: 4%;
    gap: 20px;

    background-color: var(--color-fondo-principal);
}

.contenido img{
    width: 500px;
}

.contenido-principal{
    display: flex;
    align-items: center;
    gap: 1%;
}

.contenido-barra{
    display: flex;
    align-items: center;
    gap: 1%;
}

.contenido-bodega{
    display: flex;
    align-items: center;
    gap: 1%;
}

.slider{
    width: 580px;
    height: auto;
    margin: 0 auto 0;    /*margin por arriba 50px, centrado y sin margin abajo*/
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: slider 15s infinite alternate ease-in-out;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider img{
    width: 100%;
}

footer{
    display: flex;
    background-color: brown;
    justify-content: space-between;
}

@keyframes slider{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}